body {
  font-family: "Amatic SC", cursive;
  background-image: url("../images/clouds.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.shownWeather {
  display: block;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;

}
h2 {
  text-align: left;
  display: block;
  color: beige;
  margin: auto;
  padding: 0;
}
li {
  list-style: none;
  text-align: left;
  color: beige;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

ul{
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 34px;
  line-height: 48px;
  font-weight: 900;
  color: burlywood;
  display: block;
  line-height: 30px;
  text-align: center;
  padding: 20px;
}

button{
display: block;
text-align: center;

}
.row height d-flex justify-content-center align-items-center {
  padding: 20px auto;
  margin: 20px auto;
}
.card-title1 {
  display: block;
  text-align: center;
  font-size: 34 px;
}

.card-deck-5 {
  text-align:center;
}
.row {
  width: 50%;
  text-align: center;
  display: flex;
}

.GithubLink {
  text-align: left;
}

.parameters{
  margin: 10px;
  font-size: 10px;
}